<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }}</title>
</head>
<body>
    <h1>{{ object }}</h1>
    <p>{{ object.address }}</p>
    <p>{{ object.description }}</p>
    <h2>Employees:</h2>
    <ul>
        {% for employee in object.employees.all %}
            <li>
                <img src="{{ employee.image.url }}" width="3%" height="3%">
                <a href="{% url "employee_detail" pk=employee.id %}">{{ employee }}</a>
            </li>
        {% empty %}
            there is no employees in this department yet
        {% endfor %}
    </ul>
    <a>clear department</a>
</body>
</html>