<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }}</title>
</head>
<body>
    <h1>{{ object }}</h1>
    <p>
        {% if object.address != None %}
            {{ object.address }}
        {% endif %}
    </p>
    <p>
        {% if object.description != None %}
            {{ object.description }}
        {% endif %}
    </p>
    <h2>Employees:</h2>
    <ul>
        {% for employee in object.employees.all %}
            <li>
                <img src="{{ employee.image.url }}" width="3%" height="3%">
                <a href="{% url "employee_detail" pk=employee.id %}">{{ employee }}</a>
            </li>
        {% empty %}
            there is no employees in this department yet
        {% endfor %}
    </ul>
    <a href="{% url 'department_operations' object.id 'clear' %}">clear department</a><br>
    <p>{{ message }}</p>
    {% if state == 'needs_to_allow' %}
        <a href="{% url 'department_operations' object.id 'not_rulet' %}">not participate in the rulet</a><br>
    {% endif %}
    <a href="{% url "rulet_page" pk=object.id %}">participate in the rulet</a>
</body>
</html>