<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }} rulet</title>
</head>
<body>
    available employees:
    <ul>
        {% for employee in employees %}
            <li class="e{{ employee.id }}">
                <img src="{{ employee.image.url }}" width="3%" height="3%">
                <a href="{% url "employee_detail" pk=employee.id %}">{{ employee }}</a>
                {% if employee.department %}
                    {{ employee.department }}
                {% endif %}
            </li>
        {% empty %}
            <li>no employee available</li>
        {% endfor %}
    </ul>
    <div id="info"></div>
    <select>
        {% for employee in employees %}
            <option value="e{{ employee.id }}">{{ employee }}</option>
        {% endfor %}
    </select>

    <input type="button" value="exit" onclick="">

    <script>
        let socket = new WebSocket(
            'ws://' + window.location.host + '/ws/rulet/{{ object.id }}'
        );
        socket.onopen = ev => {

        };
        socket.onmessage = ev => {
            let data = JSON.parse(ev.data);
            if (data['state'] === 'info') {
                document.getElementById('info').innerHTML = data['info']
            } else if (data['state'] === 'chosen') {
                let to_delete = document.getElementsByClassName('e' + data['employee_id'])
                for (let i=0;i<to_delete.length;i++)
                    to_delete[i].remove()
            }
        }

        function chose() {

        }

        function exit() {
            socket.send(JSON.stringify({state: 'exit'}))
        }
    </script>

</body>
</html>