<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }} rulet</title>
</head>
<body>
    available employees:
    <ul>
        {% for employee in employees %}
            <li class="e{{ employee.id }}">
                <img src="{{ employee.image.url }}" width="3%" height="3%">
                <a href="{% url "employee_detail" pk=employee.id %}">{{ employee }}</a>
                {% if employee.department %}
                    {{ employee.department }}
                {% endif %}
            </li>
        {% empty %}
            <li>no employee available</li>
        {% endfor %}

    <div class="info"></div>
    </ul>
     <select>
        {% for employee in employees %}
            <option value="e{{ employee.id }}">{{ employee }}</option>
        {% endfor %}
    </select>

    <script>
        let socket = new WebSocket(
            'ws://' + window.location.host + '/ws/rulet/{{ object.id }}'
        );
        socket.onopen = ev => {

        };
        socket.onmessage = ev => {

        }
    </script>

</body>
</html>