<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }}</title>
    {% include 'ruletApp/static/materialize_css.html' %}
</head>
<body>

{% include 'ruletApp/static/header.html' %}
{% include 'ruletApp/static/notification_socket.html' %}

<main>
<div class="container">
    <h1>{{ object }}</h1>
    <ul class="collapsible">
        {% if object.address != None %}
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Address</div>
                <div class="collapsible-body"><span>{{ object.address }}</span></div>
            </li>
        {% endif %}
        {% if object.description != None and object.description|length  %}
            <li>
                <div class="collapsible-header"><i class="material-icons">description</i>Description</div>
                <div class="collapsible-body"><span>{{ object.description }}</span></div>
            </li>
        {% endif %}
        <li>
            <div class="collapsible-header"><i class="material-icons">face</i>Employees</div>
            <div class="collapsible-body"><span class="section collection">
                {% for employee in object.employees.all %}
                <a href="{% url "employee_detail" pk=employee.id %}" class="collection-item">
                    <img src="{{ employee.image.url }}" width="4%" height="4%" class="circle">
                    {{ employee }}
                </a>
        {% empty %}
            <a class="collection-item">There is no employees in this department.</a>
        {% endfor %}
            </span></div>
        </li>
    </ul>
    <p id="message">{{ message }}</p>
    <a href="{% url 'department_operations' object.id 'clear' %}" class="waves-effect waves-light btn">
        clear department</a>
    <a href="{% url "rulet_page" pk=object.id %}" class="waves-effect waves-light btn">participate in the rulet</a>
    <a id="not-participate">

    </a>
    <br>
    <br>
    <span style="opacity: 0">
        hah are you really reading this code?
    </span>
</div>
</main>

{% include 'ruletApp/static/footer.html' %}
{% include 'ruletApp/static/materialize_script.html' %}
{% include 'ruletApp/static/notification_socket_js.html' %}

</body>
</html>