<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }}</title>
    {% include 'ruletApp/static/materialize_css.html' %}
</head>
<body>

{% include 'ruletApp/static/header.html' %}

<main>
<div class="container">
    <h1>{{ object }}</h1>
    <ul class="collapsible">
        {% if object.address != None %}
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Address</div>
                <div class="collapsible-body"><span>{{ object.address }}</span></div>
            </li>
        {% endif %}
        {% if object.description != None and object.description|length  %}
            <li>
                <div class="collapsible-header"><i class="material-icons">description</i>Description</div>
                <div class="collapsible-body"><span>{{ object.description }}</span></div>
            </li>
        {% endif %}
        <li>
            <div class="collapsible-header"><i class="material-icons">face</i>Employees</div>
            <div class="collapsible-body"><span class="section collection">
                {% for employee in object.employees.all %}
                <a href="{% url "employee_detail" pk=employee.id %}" class="collection-item">
                    <img src="{{ employee.image.url }}" width="4%" height="4%" class="circle">
                    {{ employee }}
                </a>
        {% empty %}
            <a class="collection-item">There is no employees in this department.</a>
        {% endfor %}
            </span></div>
        </li>
    </ul>
    <p>{{ message }}</p>
    <a href="{% url 'department_operations' object.id 'clear' %}" class="waves-effect waves-light btn">
        clear department</a>
    <a href="{% url "rulet_page" pk=object.id %}" class="waves-effect waves-light btn">participate in the rulet</a>
    {% if state == 'needs_to_allow' %}
        <a href="{% url 'department_operations' object.id 'not_rulet' %}" class="waves-effect waves-light btn">
            do not participate in the rulet</a><br>
    {% endif %}
    <br>
    <span style="opacity: 0">
        hah are you really reading this code?
    </span>
    {% if state == 'needs_to_allow' %}
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>You are requested to participate in the rulet</h4>
                <p>
                    You can participate. In that case you will be redirected to the rulet page. <br>
                    Also you can allow rulet and do not participate on it.
                </p>
            </div>
            <div class="modal-footer">
                <a href="{% url "rulet_page" pk=object.id %}"
                   class="modal-close waves-effect waves-green btn-flat">Agree and participate</a>
                <a href="{% url 'department_operations' object.id 'not_rulet' %}"
                   class="modal-close waves-effect waves-green btn-flat">Agree and do not participate</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Disagree, you can agree later</a>
            </div>
          </div>
        </div>
    {% elif state == 'participating' %}
         <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>You are participating in the rulet</h4>
                <p>
                    You can go to the rulet session or do it later
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
                <a href="{% url "rulet_page" pk=object.id %}"
                   class="modal-close waves-effect waves-green btn-flat">Back to session</a>
            </div>
          </div>
        </div>
    {% endif %}
</main>
{% include 'ruletApp/static/footer.html' %}
{% include 'ruletApp/static/materialize_script.html' %}

<script>
 $(document).ready(function(){
    $('#modal1').modal();
    $('#modal1').modal('open');
 });
</script>

</body>
</html>