<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }} rulet</title>
</head>
<body>
    available employees:
    <ul>
        {% for employee in employees %}
            <li class="e{{ employee.id }}">
                <img src="{{ employee.image.url }}" width="3%" height="3%">
                <a href="{% url "employee_detail" pk=employee.id %}">{{ employee }}</a>
                {% if employee.department %}
                    {{ employee.department }}
                {% endif %}
            </li>
        {% empty %}
            <li>no employee available</li>
        {% endfor %}
    </ul>
    <div id="info"></div>
    <select id="chose">
        {% for employee in employees %}
            <option value="e{{ employee.id }}" class="e{{ employee.id }}">{{ employee }}</option>
        {% endfor %}
    </select>

    <input type="button" value="exit" onclick="exit()">
    <input type="button" value="chose" onclick="chose()">

    <script>
        let socket_is_open = false;
        let socket = new WebSocket(
            'ws://' + window.location.host + '/ws/rulet/{{ object.id }}'
        );
        socket.onopen = ev => {
            socket_is_open = true;
        };
        socket.onmessage = ev => {
            let data = JSON.parse(ev.data);
            if (data['state'] === 'info') {
                document.getElementById('info').innerHTML = data['info']
                if (data['exit']) {
                    socket.close();
                    socket_is_open = false;
                    location.pathname = location.pathname.replace('rulet', 'department');
                }
            } else if (data['state'] === 'chosen') {
                let to_delete = document.getElementsByClassName('e' + data['employee_id']);
                while(to_delete.length > 0)
                    to_delete[0].remove()
            }
        };

        function chose() {
            let select = document.getElementById('chose');
            let selected_option = select.options[select.selectedIndex];
            let employee_id = +selected_option.value.slice(1, selected_option.value.length);
            if (socket_is_open)
                socket.send(JSON.stringify({state: 'chosen', employee_id: employee_id}))
        }

        function exit() {
            if (socket_is_open)
                socket.send(JSON.stringify({state: 'exit'}));
        }
    </script>

</body>
</html>