<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Information</h5>
                <p class="grey-text text-lighten-4">You can use this application to distribute your workers
                    between departments</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            The Rulet Application 2019
        </div>
    </div>
</footer>