<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">The Rulet Application</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'employees_list' %}">Employees list</a></li>
            <li><a href="{% url 'rulet_session_list' %}">Rulet list</a></li>
            <li><a href="{% url 'department_operations' 0 'clear_all' %}">Clear all departments</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </div>
</nav>