<div id="request" class="modal">
    <div class="modal-content">
        <h4>You are requested to participate in the rulet</h4>
        <p>
            You can participate. In that case you will be redirected to the rulet page. <br>
            Also you can allow rulet and do not participate on it.
        </p>
    </div>
    <div class="modal-footer">
        <a href="{% url "rulet_page" pk=department.id %}"
           class="modal-close waves-effect waves-green btn-flat">Agree and participate</a>
        <a href="{% url 'department_operations' department.id 'not_rulet' %}"
           class="modal-close waves-effect waves-green btn-flat">Agree and do not participate</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Disagree, you can agree later</a>
    </div>
</div>
<div id="participating" class="modal">
    <div class="modal-content">
        <h4>You are participating in the rulet</h4>
        <p>
                    You can go to the rulet session or do it later
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
        <a href="{% url "rulet_page" pk=department.id %}"
           class="modal-close waves-effect waves-green btn-flat">Back to session</a>
    </div>
</div>
